<body>
    

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h1 style="color:rgb(89, 135, 174)">HotelJAAN</h1>
    <div class="d-flex">
        <form class="d-flex" role="search">
            <input class="form-control me-2" input="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Employee</button>

    </div>
</div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile no</th>
      <th scope="col">Salary</th>
      <th scope="col">Date of joinig</th>
      <th scope="col">Action</th>
    </tr>
    
  </thead>
  <tbody>
    <tr>
      <td>00001</td>
      <td>Ankit</td>
      <td>Kumar</td>
      <td>ankit012@gmail.com</td>
      <td>0123456789</td>
      <td>500000</td>
      <td>25.10.22</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>00002</td>
      <td>siddhu</td>
      <td>Kumar</td>
      <td>siddhu3110@gmail.com</td>
      <td>0123456789</td>
      <td>500000</td>
      <td>10.05.21</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger">Delete</button>

      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>00003</td>
      <td>Ravi</td>
      <td>Kumar</td>
      <td>ravi052@gmail.com</td>
      <td>0123456789</td>
      <td>500000</td>
      <td>26.04.22</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]=" formValue">
          <div class="form-group">
            <label for="exampleInputEmail1">Employee Id</label>
            <input type="text" formControlName="employee" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Employee Id">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mobile no</label>
            <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Mobile no">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Salary</label>
            <input type="text" formControlName="salary" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Salary">
          </div>
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>


<button type="submit" class="btn btn-primary">Add</button> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
</body>