<div class=" Box">
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h1 style="color:rgb(89, 135, 174)">HotelJAAN</h1>
      <div class="d-flex">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Customer</button>
  
      </div>
  </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <!-- <th scope="col">Last Name</th> -->
        <th scope="col">Email Id</th>
        <th scope="col">Mobile no</th>
        <th scope="col">Check in Date</th>
        <th scope="col">Check out Date</th>
        <th scope="col">Action</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <td>00001</td>
        <td>Ankitkumar</td>
        <!-- <td>Kumar</td> -->
        <td>ankit012@gmail.com</td>
        <td>0123456789</td>
        <td>5.10.22</td>
        <td>25.10.22</td>
        <td>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>00002</td>
        <td>siddhu</td>
        <!-- <td>Kumar</td> -->
        <td>siddhu3110@gmail.com</td>
        <td>0123456789</td>
        <td>04.5.21</td>
        <td>10.05.21</td>
        <td>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
  
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>00003</td>
        <td>Ravi</td>
        <!-- <td>Kumar</td> -->
        <td>ravi052@gmail.com</td>
        <td>0123456789</td>
        <td>20.04.22</td>
        <td>26.04.22</td>
        <td>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]=" formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Customer Id</label>
              <input type="text" formControlName="customer" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="customer Id">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile no</label>
              <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Mobile no">
            </div>
            
  
  
  <button type="submit" class="btn btn-primary">Add</button> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>